<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/boot/css/bootstrap.min.css">

    <style>
        .container{
        text-alignment:center

        }

    </style>

</head>



<body>

<div class="container">

<h1>Room View Page</h1>


    <table border="2">

        <tr>

            <th>Room Type</th>
            <th>Service</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Booking</th>

        </tr>



        {% for d in data %}
        {% if d.booking %}

        <tr>
            <td>{{d.type}}</td>
            <td>{{d.service}}</td>
            <td> <img src="{{d.images.url}}" width="200px" height="200px"> </td>
            <td>{{d.description}}</td>
            <td>{{d.price}}</td>
            <td>{{d.booking}}</td>
        </tr>

        {% else  %}
        <h1>Already Book</h1>
        {% endif %}
        {% endfor %}

    </table>
</div>
</body>
</html>